#reliable-protection {
  min-height: 100vh;
  background-position: 0 0 !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-image: url('../images/reliable-protection-bg.jpg');
  position: relative;
}